<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout_main">
<body>

<div th:fragment="bookform">
    <div class="form-group">
        <label for="title" th:text="#{book.title}">Title</label>
        <input type="text" id="title" name="title" class="form-control" th:field="${book.title}"/>
    </div>
    <div class="form-group">
        <label for="author" th:text="#{book.author}">Author</label>
        <input type="text" id="author" name="author" class="form-control" th:field="${book.author}"/>
    </div>
    <div class="form-group">
        <label for="nrOfPages" th:text="#{book.nrOfPages}">Nr of Pages</label>
        <input type="text" id="nrOfPages" name="nrOfPages" class="form-control" th:field="${book.nrOfPages}"/>
    </div>
</div>

</body>
</html>

