<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="stylesheet" th:href="@{/bower_components/bootstrap/dist/css/bootstrap.css}"
                                href="../static/bower_components/bootstrap/dist/css/bootstrap.css"/>
    </head>
    <body>
    <nav class="navbar navbar-default" th:fragment="menu">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                    <li><a href="#" th:href="@{/books}" th:text="#{menu.books}">Books</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="#" th:text="#{menu.lang.eng}"
                                    th:href="@{__${#httpServletRequest.requestURI}__?lang=en}">Eng</a>
                    </li>
                    <li>
                        <a href="#" th:text="#{menu.lang.est}"
                           th:href="@{__${#httpServletRequest.requestURI}__?lang=ee}">Est</a>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    </body>
</html>